@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Google Classroom Bulk Grader</h3>

<p>
    This app is can be used to post grades to all assignments made in
    Google Classroom by the same Google project (i.e. same ClientId).
</p>
