@model GradingModel

@{
    ViewBag.Title = "Update Grades";
    ViewBag.PersonName = Model.PersonName;
    Layout = "_Layout";
}

<h2>@Model.CourseName Grades</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th></th>
        @foreach (var assignment in Model.Assignments)
        {
            <th>@assignment.CourseWorkName</th>
        }
    </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.StudentName</td>
                @foreach (var assignment in Model.Assignments)
                {
                    var grade = Model.Grades.SingleOrDefault
                        (
                            g => g.StudentId == student.StudentId 
                                 && g.CourseWorkId == assignment.CourseWorkId
                        );
                    <td>
                        @grade?.AssignedGrade / @assignment.MaxPoints
                    </td>
                }
            </tr>
        }
    </tbody>
</table>